.svg-arrowupright-dims {
    width: 12px;
    height: 12px;
}
.svg-bell-dims {
    width: 24px;
    height: 24px;
}
.svg-briefcase-dims {
    width: 24px;
    height: 24px;
}
.svg-logo-dims {
    width: 46px;
    height: 46px;
}
.svg-messagesquare-dims {
    width: 24px;
    height: 24px;
}
.svg-rss-dims {
    width: 24px;
    height: 24px;
}
.svg-search-dims {
    width: 24px;
    height: 24px;
}
.svg-users-dims {
    width: 24px;
    height: 24px;
}
